.listElementWithLink {
    list-style: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #FD84C9;

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        text-decoration: none;
        overflow: hidden;
        border: 1px solid black;
        border-top: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__value {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        text-align: center;
    }
}