.wave {
    width: 300px;
    height: 300px;
    background-color: rgb(33, 92, 255);
    box-shadow: inset 0 0 50px #282c34;
    position: absolute;
    top: -100px;
    transition: 0.4s;
    overflow: hidden;

    &::before,
    &::after {
        width: 125%;
        height: 125%;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
    }

    &::before {
        border-radius: 45%;
        background-color: rgba(20,20,20,1);
        animation: wave 5s linear infinite;
    }

    &::after {
        border-radius: 40%;
        background-color: #282c34;
        animation: wave 10s linear infinite;
    }
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}