.listOfElementsWithLink {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;

    &__list {
        padding: 0;
        margin: 0;
    }
}