.navbarItem {
    list-style: none;
    padding: 1rem;

    &__link {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 700;

        &--white {
            color: #fff;
        }

        &--uppercase {
            text-transform: uppercase;
        }

    }

    &--selected {
        background-color: aquamarine;
    }
}